//NO TOCAR ESTA PAGINA
// HOJA DE STYLUS-> STYLUS ES UN PREPROCESADOR DE CSS

//variables usadas para manejar mas facil el color
rosa = rgba(231, 76, 60,0.6)
pomegranade = rgba(192, 57, 43,1.0)
rosapomegranade = rgba(192, 57, 43,0.5)
blanco = rgba(236, 240, 241,1.0)
concreto = rgba(149, 165, 166,1.0)
turquesa = rgba(26, 188, 156,1.0)
verdeoceano = rgba(22, 160, 133,1.0)
amarillogirasol = rgba(241, 196, 15,1.0)
naranja = rgba(243, 156, 18,1.0)
esmeralda = rgba(46, 204, 113,1.0)
nephritis = rgba(39, 174, 96,1.0)
carrot = rgba(230, 126, 34,1.0)
pumpkin = rgba(211, 84, 0,1.0)
peterriver = rgba(52, 152, 219,1.0)
belizehola = rgba(41, 128, 185,1.0)
alizarin = rgba(231, 76, 60,1.0)
amatista = rgba(155, 89, 182,1.0)
wisteria = rgba(142, 68, 173,1.0)
clouds = rgba(236, 240, 241,1.0)
silver = rgba(189, 195, 199,1.0)
wetasphalt = rgba(52, 73, 94,1.0)
midnightblue = rgba(44, 62, 80,1.0)
asbestos = rgba(127, 140, 141,1.0)
grisscarlet = #e1e3e2
niggas = #323232

//nuevos colores
ebonyClay = rgba(34, 49, 63, 1)
ebonyClayOp = rgba(34, 49, 63, 0.6)
aliceBlue = rgba(228, 241, 254,1)
aliceBlueOp = rgba(228, 241, 254,0.5)
curiusBlue = rgba(52, 152, 219,1)

//Mixins
bordes(n)
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n
bordesMaterial()
	box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
bordesMaterialDos()
	box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
	/*el selector * se usa para asignarle esas propiedades a todas las etiquetas que existen en la pagina web 0*/
*
	margin 0
	padding 0
body
	/* el atributo background se usa en body, asi como en etiquetas que hagan la funcion de contenedor, 
	div, article, section, footer...
	*/
	background-color aliceBlue
	color concreto
	/* el atributo font-family sirve para agregarle un tipo de fuente al la pagina web */
	font-family 'Helvetica', sans-serif
	text-align center
	text-rendering optimizeLegibility
header
	align-content center
	align-items center
	background-color white
	box-shadow 0 -0.5px 5px 0 rgba(0,0,0,0.75)
	display inline-flex
	flex-direction row
	left -1px
	justify-content center
	height 60px
	position fixed
	width 100%
	z-index 2
	#logo
		display inline-flex
		height 60px
		width 25%
		#imgsLogo
			background url('../img/me.jpg')
			background-repeat no-repeat
			background-position center
			background-size 100%
			bordes 50%
			height 60px
			order 1
			width 113px
		#tituloWeb
			align-items center
			color ebonyClay
			display flex
			justify-content left
			font-size 1.6em
			height 60px
			order 1
			width 440px
	nav
		font-size 1em
		height 60px
		width 35%
		ul
			list-style none
			li
				display inline-flex
				flex-direction row
				a
					align-content center
					align-items center
					color ebonyClayOp
					display flex
					height 60px
					padding 0.2em 0.3em
					order 1
					text-decoration none
				a:hover
					align-content center
					align-items center
					color ebonyClay
					display flex
					height 60px
					padding 0.2em 0.3em
					order 1
					text-decoration none
/*	caja principal de la primera seccion de la web	*/
/*CAJA con borde NEGRO cabecera ES LA CAJA EXTERNA MAS GRANDE DE TODAS QUE CONTENDRA A TODAS LAS DEMAS*/
#cabecera
	background url('../img/abstract2.jpg')
	background-repeat no-repeat
	background-attachment transparent
	background-size 100% 100%
	height 650px
	width 100%	
	/*INICIO MENU
		CAJA con borde AMARILLO menu
		CONTENDRA AL MENU
		es importante observar que la caja va de esquina a esquina esta al 100% del ancho de la pantalla 
			*/
#menu
	align-items center
	background-color ebonyClayOp
	display inline-flex
	flex-direction row
	justify-content center
	height 100px
	width 100%
	/*CAJA con borde ANARANJADO hace referencia a la etiqueta NAV*/
	nav
		font-size 1.2em
		height 50px
		margin-left 45%
		width 50%
	ul 
		display flex
		justify-content center
		height 50px
		list-style none
		/*CAJA con borde BLANCO hace referencia a la etiqueta LI*/
	li 
		/*border 1px solid blanco*/
		padding  0 0.8em 0 0
		/*CAJA con borde VERDE OSCURO hace referencia a la etiqueta A*/
	a 
		/*border 1px solid nephritis*/
		display flex
		color aliceBlue
		text-decoration none
	/*aca utilizamos el parametro hover, el cual es la accion o lo que va a ocurrir cuando 
		coloquemos el cursos sobre el objeto que estamos manipulando o al cual vamos a hacer click
		*/				
	a:hover
		border-bottom 1px solid curiusBlue
		color curiusBlue
		text-decoration none
	.actived
		border-bottom 1px solid curiusBlue
		color curiusBlue
		text-decoration none
.activos
	color curiusBlue
	text-decoration underline	
	transition ease 0.5s
	-webkit-transition ease 0.5s
/*Fin del menu

---
*/
/*contenido de la caja gris grande debajo de la caja amarilla del menu, 
que va a contener:
1era una caja que va a ser mas pequeña para poder centrarla, esta caja va a contener a las siguientes cajas
2era caja para la imagen, ubicada al lado izquierdo de la pantalla
3da caja para el texto y boton ubicada a la derecha.
*/

#imagenNombre
	/*border 3px solid asbestos */
	background-color ebonyClayOp
	height 550px
	width 100%
	/* es la caja azul noche, su ancho es mas pequeño 
		
		lo cual nos permite asignarle un margen izquierdo y un margen derecho,
		para lograr el efecto de que quede centrada

inicio DE LA CAJA azul CONTENEDORA DE LAS CAJAS de la foto, y del titulo, esta caja ocupa el 80% de ancho de la web y va centrada
		*/
#contenedorCentrado
	/*border 2px solid midnightblue*/
	align-items center
	display inline-flex
	flex-direction row
	justify-content center
	height 100%
	width 80%
	margin-left 10%
	margin-right 10%
/* inicio DE LA CAJA azul claro, CONTENEDORA DE LA CAJA de la foto, esta caja ocupa 40% de la caja azul oscuro*/	
#imagenFotoIzquierda
	/*border 2px solid belizehola*/
	align-items center
	display flex
	flex-direction row
	justify-content center
	height 100%
	width 40%
#fotosj
	background url(../img/me.jpg)
	background-repeat no-repeat
	background-position center
	background-size 100%
	/*border 2px solid black*/
	bordes 200px 200px 200px 200px
	display flex
	justify-content center
	height 45%
	margin-left 40%
	margin-top -80px
	width 55%
	/*fin de la caja azul claro*/	
	/*inicio DE LA CAJA blanca, 
	CONTENEDORA DE LA CAJA de blanca, 
	para el titulo,subtitulo y boton, 
	esta caja ocupa 60% de la caja azul oscuro*/
#imagenTituloDerecha
	/*border 2px solid blanco*/
	color blanco
	height 50%
	text-align left
	width 60%
	h1 
		font-size 4em
	h4 
		font-size 1.5em
		font-weight lighter
	/*div utilizado para dar aspecto de boton claro*/
	#botonAspect
		flex-direction row
		justify-content center
		height 50px
		width 600px
		ul
			display inline-flex
			flex-direction row
			justify-content space-between
			height 50px
			width 600px
			li
				list-style none
				text-decoration none
				width 200px
				a
					align-items center
					background-color aliceBlueOp
					bordes 5px
					display flex
					color ebonyClay
					justify-content center				
					height 50px
					text-decoration none
					width 140px
				a:hover
					background-color aliceBlue
					color ebonyClay
					display flex
					height 50px
					justify-content center	
					text-decoration none			
					transition ease 0.5s
					-webkit-transition ease 0.5s
					width 140px
	/*ACA como pueden observar tomamos nuevamente el boton
	pero con la particularidad de que le pasamos la propiedad
		:hover la cual usaremos mucho, esta asociada a la accion
		que se ejecuta cuando pasamos el cursos sobre cualquier objeto	
		*/
/*Espacio en blanco para separar secciones*/

.divisorBlanco
	background-color aliceBlue
	/*border 1px solid carrot*/
	clear both
	display flex
	height 70px
	width 100%
/*fin del class divisor blanco, que estara repetido en varias partes del sitio web.*/	

/*Caja del titulo*/
.titles
	align-items center
	background-color aliceBlue
	color black
	display flex
	height 50px
	font-size 1.5em
	font-weight normal
	justify-content flex-start
	width 100%
	h2
		height 50px
		width 40%
	a
		align-items center
		color ebonyClayOp
		display flex
		flex-direction row
		justify-content center
		height 100%
		text-decoration none
		width 40%
	a:hover
		color ebonyClay
		text-decoration none			
		transition ease 0.5s
		-webkit-transition ease 0.5s
	/*Fin de la caja del titulo*/
/*Inicio de who am i*/
#whoiam
	background-color ebonyClay
	align-items center
	display inline-flex
	flex-direction row
	justify-content center
	height 600px
	width 100%
	p
		color aliceBlue
		height 90%
		text-align justify
		width 90%
/*Fin de who am i*/
	/*Inicio del contenido del portafolio*/
#portafolio
	align-items center
	background-image url('http://www.designshock.com/wp-content/uploads/2015/02/abstract3-copia.jpg')
	display inline-flex
	flex-direction column
	justify-content center
	height 600px
	width 100%
#columnaA
	display inline-flex
	flex-direction row
	justify-content space-around
	height 50%
	width 90%
#columnaB
	display inline-flex
	flex-direction row
	justify-content space-around
	height 50%
	width 90%
#preview
	background-color white
	bordesMaterial()
	bordes 10px
	height 95%
	width 30%
#webprev
	bordes 10px
	height 85%
	width 100%
	iframe
		bordes 10px
#webtitle
	background-color curiusBlue
	bordesMaterial()
	bordes 10px
	color aliceBlue
	height 15%
	width 100%
	a
		align-items center
		color aliceBlue
		display flex
		flex-direction row
		justify-content center
		height 100%
		text-decoration none
		width 100%
	a:hover
		color white
		text-decoration none			
		transition ease 0.5s
		-webkit-transition ease 0.5s
    /*Columna izquierda unica columna, grande de alto=height*/
    	/*Caja del titulo*/
#webprevFreeCodeCamp
	bordes 10px
	height 85%
	position relative
	width 100%
	iframe
		bordes 10px
#webtitleFreeCodeCamp
	background-color ebonyClay
	bordesMaterial()
	bordes 10px
	color aliceBlue
	height 15%
	width 100%
	a
		align-items center
		color aliceBlue
		display flex
		flex-direction row
		justify-content center
		height 100%
		text-decoration none
		width 100%
	a:hover
		color white
		text-decoration none			
		transition ease 0.5s
		-webkit-transition ease 0.5s
    /*Columna izquierda unica columna, grande de alto=height*/
/*Fin de la seccion portafolio*/
/*Inicio de la seccion de articulos*/
#blogBody
	/*esta caja contendra a la caja utilizada para centrar los articulos*/
	background-color aliceBlue
	font-family "Helvetica" sans-serif
	color #000
	display inline-flex
	flex-direction row
	justify-content space-around
	width 100%
	height 600px
#boxBlogTitles
	align-items center
	display inline-flex
	flex-direction column
	justify-content space-around
	height 100%
	width 45%
#postsBlogs
	bordes 10px
	background-color ebonyClay
	display inline-flex
	flex-direction row
	justify-content center
	height 10%
	width 80%
#datePost
	align-items center
	color aliceBlue
	display flex
	justify-content center
	height 100%
	width 30%
#linkPost
	align-items center
	color aliceBlue
	display flex
	justify-content center
	height 100%
	width 70%
	a
		align-items center
		color aliceBlue
		display flex
		flex-direction row
		justify-content center
		height 100%
		text-decoration none
		width 100%
	a:hover
		color white
		text-decoration none			
		transition ease 0.5s
		-webkit-transition ease 0.5s
#blogLogin
	border 1px solid orange
	display inline-flex
	flex-direction column
	justify-content center
	height 100%
	width 45%
	
/*Fin de articulos*/

/*Inicio de la seccion de contacto*/
#contacto
	background-image url('http://dealfuel.com/wp-content/uploads/2015/06/color191.png')
	background-size 100%
	background-position center
	background-repeat no-repeat
	background-attachment transparent
	background-color niggas
	color black
	display flex
	flex-direction row
	height 600px
	justify-content center
	width 100%
/*cuadro utilizado para ser centrado*/
#contactoCentrado
	display inline-flex
	height 100%
	width 90%
#columnaImg
	display flex
	height 100%
	justify-content center
	width 50%
	/*imagen*/
#imag
	background url('../img/me.jpg')
	background-repeat no-repeat
	background-size 100%
	bordes 70%
	height 100%
	width 100%
	/*columna de informacion de contacto*/
#columnaContac
	align-items center
	color aliceBlue
	display flex
	flex-direction column
	justify center
	height 100%
	justify-content space-around
	width 50%
	h2,h3,p,h4
		order 0
	h2
		font-size 3.5em
	h3
		font-size 2em
	p,h4
		font-size 1.5em
	ul
		align-items center
		display inline-flex
		flex-direction row
		justify-content center
		height 50px
		width 90%
		li
			list-style none
			text-decoration none
			width 150px
			a
				align-items center
				background-color aliceBlueOp
				bordes 5px
				display flex
				color ebonyClay
				justify-content center				
				height 50px
				text-decoration none
				width 100px
			a:hover
				background-color aliceBlue
				color ebonyClay
				display flex
				height 50px
				justify-content center	
				text-decoration none			
				transition ease 0.5s
				-webkit-transition ease 0.5s
				width 120px	
	a
		align-items center
		background-color aliceBlueOp
		bordes 5px
		display flex
		color ebonyClay
		font-size 0.9em
		justify-content space-around				
		height 50px
		text-decoration none
		width 250px
	a:hover
		background-color aliceBlue
		color ebonyClay
		display flex
		height 50px
		justify-content space-around	
		text-decoration none			
		transition ease 0.5s
		-webkit-transition ease 0.5s
		width 300px	
/*fin de la seccion de contacto*/
	/*inicio del pie de pagina*/
footer
	align-content center
	align-items center
	background-color black
	color blanco
	display flex
	flex-direction row
	height 50px
	justify-content center
	width 100%
#autores >
	height 50px
	width 100%
	/*fin de la seccion de pie de pagina*/
/*BIEN FIN DE NUESTRA PRIMERA PAGINA*/
